@import 'tailwindcss';

@layer base {
  /* h1 {
    @apply text-3xl font-bold pb-4;
  }

  h2 {
    @apply text-2xl font-bold pb-3;
  }

  h3 {
    @apply font-bold pb-2;
  }

  section {
    @apply py-5;
  } */

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .bg-night {
    @apply bg-[#030213]/80;
  }
}

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

body {
  background: radial-gradient(ellipse at bottom, #050914 0%, #000000 100%);
  color: white;
}
